<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    <div class="wrapper {% block wrapper_extra_class %}{% endblock wrapper_extra_class %}">
        {% include 'includes/head.html' %}
        {% comment %} {% include 'includes/header.html' %} {% endcomment %}
        {% comment %} <div class="{% block sidebar_class %}{% endblock sidebar_class %}">
            {% include 'includes/sidebar-main.html' %}
        </div> {% endcomment %}
        <div class="main-panel">
            {% block content %}
            {% endblock content %}
            {% include 'includes/footer.html' %}
        </div>
        
    </div>
        {% include 'includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}
</body>

</html>